<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConanAccessRight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27B5E1CE1E543DE100DD6531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27B5E1E71E543DE100DD6531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27B5E1F21E543DE200DD6531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
